@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #bcc4db;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.05) 1.5px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1.5px, transparent 1px);
  background-size: 60px 60px;
  background-attachment: fixed;

  scrollbar-color: #8f8c60 #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}